body{
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.alert{
    margin-bottom: 0px;
}

ul.navbar-nav li a{
    color: #fff !important;
}

ul.posts{
    margin-top: 20px;
    padding-left:0px;
    list-style-type: none;
}
.card{
    margin-bottom: 10px;
}